.gallery-section {
  padding: 120px 50px;
  background-color: #0c0b09;
}
.gallery-title {
  font-size: 16px;
  font-family: "Playfair Display", monospace;
  color: rgb(255 255 255 / 70%);
  line-break: loose;
  display: flex;
  align-items: center;
}

.gallery-title::after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #d3ab58;
  display: block;
  margin-left: 10px;
}

.gallery-desc {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #d3ab58;
  margin-bottom: 50px;
}

.container-fluid {
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-item {
  padding: 3px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery-img {
  transition: transform 0.5s ease;
  display: block;
}
.gallery-item:hover .gallery-img {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease-in-out;
  z-index: 9999;
}

.popup-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  animation: scaleUp 0.3s ease-in-out;
}

.popup-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* افکت fade و scale */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Responsive modal image */
@media (max-width: 768px) {
  .popup-img {
    max-width: 90%;
    max-height: 80vh;
  }
  .navigation {
    position: absolute;
    top: 50%;
    left: -30px;
  }

  .nav-btn {
    font-size: 24px;
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .gallery-desc {
    font-size: 30px;
  }
}
@media screen and (max-width: 599px) {
  .gallery-desc {
    font-size: 25px;
  }
}
